/*ZERANDO O CSS PADRÃO DA PÁGINA*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*CORES*/
.cinza{
    color:#707070;
}
.branco{
    color:#fff;
}
.violeta{
    color: #A79AFF
}

.azul{
    color: #B5E3FF
}

.rosa{
    color: #FFB5E8
}
/*CLASSES BASE*/
.container{
    margin: auto;
    width: 1332px;
}
a{
    text-decoration: none;
}
.flex-end{
    justify-content: flex-end;
}

.alinhamento{ 
    display: flex;
    align-items: center;
    flex-shrink: 2;
}

.alinhamento-flex-start{ 
    display: flex;
    align-items: flex-start;
    flex-shrink: 2;
}

.margin-left-5{
    margin-left: 5px;
}

.margin-left-10{
    margin-left: 10px;
}

.margin-left-20{
    margin-left: 20px;
}

.margin-left-80{
    margin-left: 80px;
}

.espaco-15{
    margin: 15px;
}

.espaco-30{
    margin: 30px;
}

.espaco-50{
    margin: 50px;
}

.espaco-100{
    margin: 100px;
}
.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*FONTES*/
.font-titulo{
    font-family: 'Signika', sans-serif;
}
.font-regular{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-semi-bold{
    font-weight: 600;
}
.font-bold{
    font-weight: 700;
}
.font-18px{
    font-size: 18px;
}
.font-24px{
    font-size: 24px;
}
.font-32px{
    font-size: 32px;
}
.font-70px{
    font-size: 70px;
}
.font-espacamento-25{
    line-height: 25px;
}

/*BOTÕES*/
.botao-pequeno{
    font-size: 20px;
    background-color: #A79AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 20px 60px 20px 60px;
    cursor: pointer;
    transition: 1s all;
}
/*TOPO - HEADER*/
.cabecalho{
    background: #A79AFF;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

/*TOPO - TOPO*/
.topo{
    width:220px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

/*MENU*/
#menu{
    background-color:#4D4D4D;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    position: relative;
    z-index: 2;
}

#menu a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 50px 0px 44px 0px;
    border-bottom: 6px solid #4D4D4D;
    transition: all 0.35s;
}

#menu a:hover{
    border-bottom: 6px solid #A79AFF;
}

/******HOME******/

/*BANNER*/
/*.banner-home{
    position:relative;
    z-index: 1;
    margin-top: -62;
}*/
.banner-home-imagem{
    background: url(../image/shampoo-condicionador-2.jpg) 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}
.banner-texto{
    width: 800px;
}

/*TEXTO-IMAGEM*/
h2{
    margin: 100px 0px 50px 0px;
    width: 650px;
}

/*BLOCO-IMAGENS-HOME*/
.bloco-imagens-home{
    margin: 50px 0px 100px 0px;
    display: flex;
    justify-content: space-between;
}
.bloco-imagem-1{
    background: url(../image/shampoo-2.jpg) 50% 50%;
    background-size: cover;
    width: 316px;
    height:561px;
}
.bloco-imagem-2{
    background: url(../image/shampoo-condicionador-2.jpg) 50% 50%;
    background-size: cover;
    width: 316px;
    height:561px;
}
.bloco-imagem-3{
    background: url(../image/shampoo-condicionador.jpg) 50% 50%;
    background-size: cover;
    width: 316px;
    height:561px;
}
.bloco-imagem-4{
    background: url(../image/shampoo.jpg) 50% 50%;
    background-size: cover;
    width: 316px;
    height:561px;
}
.bloco-imagens-home-texto{
    position:relative;
    margin-top: -5px;
    background-color: #4D4D4D;
    height: 64px;
    width: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*MINI-BANNER*/
.home-mini-banner{
    background: url(../image/mini-secador.jpg) 50% 50%;
    background-size: cover;
    width: 100%;
    height: 403px;
}
.home-mini-banner-opaco{
    background-color: rgba(77,77, 77,0.70);
    display: flex;
    width: 100%;
    height:403px;
    align-items: center;
    justify-content: center;
}

/*BLOCO-TEXTO-IMAGEM*/
.separador{
    height: 1px;
    width: 100%;
    border-bottom: 2px solid #A79AFF;
}
.home-bloco-texto{
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    margin-bottom:100px;
}
.home-bloco-texto-imagem{
    background: url(../image/escova-raquete.jpg) 50% 50%;
    background-size:cover;
    width:754px;
    height: 514px;
    text-align: right;
}

/*BLOG*/
.home-blog{
    height: 378px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home-blog-bloco{
    width:316px;
}
.home-blog-imagem-1{
    background: url(../image/babyliss-cabelo.jpg) 50% 50%;
    background-size: cover;
    width:325px;
    height: 164px;
}
.home-blog-imagem-2{
    background: url(../image/cabelo-crespo.jpg) 50% 50%;
    background-size: cover;
    width:325px;
    height: 164px;
}
.home-blog-imagem-3{
    background: url(../image/cabelo-cacheado.jpg) 50% 50%;
    background-size: cover;
    width:325px;
    height: 164px;
}
.blog-separador{
    height:1px;
    width: 30px;
    border-bottom: 4px solid #4D4D4D;
}
.blog a{
    text-decoration: none;
    color: #4D4D4D;
}
.home-bloco-texto-titulo{
    background-color: #A79AFF;
    width: 428px;
    height:64px;
    display: flex;
    justify-content:center;
    align-items: center;
}



/*RODAPE*/
.rodape{
    background: #F9F9F9;
    height: 330px;
    width: 100%;
}
.rodape-alinhamento{
    padding: 50px 0px 0px 0px;
    display: flex;
    justify-content:space-between;
}

.rodape-bloco-sobre-nos{
    display: flex;
    width: 400px;
}
.rodape-bloco-endereco{
    display: flex;
    justify-content:space-between;
    width: 280px;
}
.blog-texto-endereco{
    width:245px;
}

.rodape-menu-rapido-texto{
    list-style: none;
}
.rodape-botao-whatsapp{
    color: #fff;
    background-color: #128C7E;
    width: 201px;
    height:39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
}
.rodape-botao-fale-conosco{
    color: #fff;
    background-color: #4D4D4D;
    width: 201px;
    height:39px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:16px;
}
.rodape-botao-whatsapp a{
    text-decoration: none;
    color: #fff;
}
.rodape-botao-fale-conosco a{
    text-decoration: none;
    color: #fff;
}
.rodape-icones{
    font-size:30px;
}
.rodape-link{
    text-decoration: none;
    color:#707070;
}
/*FOOTER*/
footer{
    font-size: 16px;
    padding: 30px 0px 0px 0px;
}


/*******BLOG*******/
.banner-posicao{
    position: relative;
    z-index: 1;
    margin-top:-62px;
}
.banner{
    margin-top: -50px;
    background: #F6F6F6;
    width: 100%;
    height: 650px;
    position:relative;
}
.banner-titulo{
    padding: 100px 0px 0px 0px;
    font-size: 44px;
    display: flex;
    justify-content: center;
}

.margin-topo{
    margin: 590px;
}
.banner-imagem-blog{
    background: url(../image/produto.jpg) 50% 50%;
    background-size: cover;
    height:700px;
    position: relative;
    margin-top:-300px;
    z-index: 2;
}
.blog-imagem-1{
    background: url(../image/produtos-2.jpg) 50% 50%;
    background-size: cover;
    width:640px;
    height: 325px;
}
.blog-imagem-2{
    background: url(../image/produtos-3.jpg) 50% 50%;
    background-size: cover;
    width:640px;
    height: 325px;
}
.blog-conteudo{
    width:640px;
    margin-bottom: 50px;
}
.blog-materias{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#blog-contador-paginas{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    width: 200px;
    margin: 0px 0px 0px 233px;
}
#blog-contador-paginas a{
    display: block;
    text-decoration: none;
    color: #fff;
    text-align: center;
    background: #4D4D4D;
    /*padding: 50px 0px 44px 0px;*/
    transition:all .35s; 
    width: 37px;
    height: 37px;
}

#blog-contador-paginas a:hover{
    background:#A79AFF;
}

/*.blog-MINI-BANNER*/
.blog-mini-banner{
    background: url(../image/mini-secador.jpg) 50% 50%;
    background-size: cover;
    width: 100%;
    height: 300px;
}
.blog-mini-banner-opaco{
    background-color: rgba(77,77, 77,0.70);
    display: flex;
    width: 100%;
    height:300px;
    align-items: center;
    justify-content: center;
}

/****SOBRE A EMPRESA****/
.banner-imagem-sobre-a-empresa{
    background: url(../image/corporation.jpg) 50% 50%;
    background-size: cover;
    height:700px;
    position: relative;
    margin-top:-300px;
    z-index: 2;
}
.sobre-a-empresa-bloco-texto-imagem{
    background: url(../image/company.jpg) 50% 50%;
    background-size:cover;
    width:754px;
    height: 514px;
    text-align: right;
}

/*BLOCO PDF*/
.bloco-pdf-container{
    display: flex;
    justify-content: space-between;
}

.bloco-pdf{
    background:#F9F9F9;
    width: 100%;
    height: 253px;
}

.bloco-pdf-botao{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
    background-color:#A79AFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 309px;
    height: 44px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: 1s all;
    margin: 107px 0px;
}

.bloco-pdf-imagem{
    width: 76px;
    height: 76px;
}

.bloco-pdf-texto{
    font-size: 32px;
    color:#4D4D4D;
}

.bloco-pdf-imagem-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 97px 0px;
}
.icone-pdf{

}

/*FORMULARIO*/
.formulario{
    background-color:#fff;
    position: relative;
    z-index:2;
    margin-top: -300px;
    height: 700px;
    border:2px solid #A79AFF;
    padding: 0px 50px 0px 50px;
}
input[type=name] {
    border: none;
    border-bottom: 2px solid #C5C5C5;
    width: 90%;
}

input[type=number] {
    border: none;
    border-bottom: 2px solid #C5C5C5;
    width: 90%;
}

input[type=email] {
    border: none;
    border-bottom: 2px solid #C5C5C5;
    width: 90%;
}

textarea{
    border: none;
    border-bottom: 2px solid #C5C5C5;
    width: 100%;
    height: 90px;
}

.email-telefone{
    display:grid;
    grid-template-columns: 40% 40%;    
}
.formulario-email-telefone{
    display: grid;
    grid-template-columns: 40% 40%;
}

.contato{
    background: #A79AFF;
    width: 306px;
    height:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:32px;
}
.contato-separador{
    height: 1px;
    width:100%;
    height: 546px;;
    border: 2px solid #A79AFF;
}
.contato-endereco{
    display: flex;
    justify-content:space-between;
    width: 280px;
}

.contato-bloco{
    display: flex;
    justify-content:space-between;
}

/*********************MEDIAQUERY*********************/
@media (max-width:768px){
    header{
        
    }
}